@import "tailwindcss";

@theme {
    --radial-start: #1e3a8a;
    --radial-end: #9333ea;
    --radial-start-dark: #0f172a;
    --radial-end-dark: #1e293b;
}

@layer utilities {
    .default {
        @apply bg-white text-amber-500 dark:bg-gray-900;
    }

    .bg-radial-theme {
        background-image: radial-gradient(circle at center, var(--radial-start), var(--radial-end));
    }

    .dark .bg-radial-theme {
        background-image: radial-gradient(circle at center, var(--radial-start-dark), var(--radial-end-dark));
    }
}